
html, body {
  width:  100%;
  height: 100%;
  margin: 0;
		background-color: #fff;
}



canvas {

	background-color: #fff;
	display: block;
	margin: 0px auto 0px auto;
	padding-left: 0;
	padding-right: 0;
}
